{% extends 'base.html.twig' %}

{% block title %}
	Utilisateurs - Statistiques |
	{{ parent() }}
{% endblock %}

{# START : admin_user_statistics #}
{% block body %}
	<section class="page">
		<h2 class="page__statistics-title">Utilisateurs : statistiques</h2>
		<div class="neptune">
			<div class="block-chart">
				<canvas class="block-chart__chart block-chart__pie-chart" id="pie-canvas-user-roles-by-number" aria-label="chart" role="img" data-users="{{ numberOfRolesUser }}" data-admins="{{ numberOfRolesAdmin }}"></canvas>
			</div>
			<div class="block-chart">
				<canvas class="block-chart__chart block-chart__pie-chart" id="pie-canvas-user-roles-by-proportion" aria-label="chart" role="img" data-numberofusers="{{ numberOfUsers }}" data-users="{{ numberOfRolesUser }}" data-admins="{{ numberOfRolesAdmin }}"></canvas>
			</div>
			<div class="block-chart">
				<canvas class="block-chart__chart block-chart__pie-chart" id="pie-canvas-user-civility-title-by-number" aria-label="chart" role="img" data-numberofmans="{{ numberOfMans }}" data-numberofwomans="{{ numberOfWomans }}"></canvas>
			</div>
			<div class="block-chart">
				<canvas class="block-chart__chart block-chart__pie-chart" id="pie-canvas-user-civility-title-by-proportion" aria-label="chart" role="img" data-numberofusers="{{ numberOfUsers }}" data-numberofmans="{{ numberOfMans }}" data-numberofwomans="{{ numberOfWomans }}"></canvas>
			</div>
		</div>
	</section>
{% endblock %}
{# END : admin_user_statistics #}
