{# START: NAV MOBILE #}
<nav class="nav-mobile">
	<ul>
		<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-top-color_blue">
			<a class="nav__link nav__mobile-link" href="{{ path('product_list') }}">Produits</a>
		</li>
		<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-top-color_blue">
			<a class="nav__link nav__mobile-link" href="{{ path('category_list') }}">Catégories</a>
		</li>
		{# START: admin access #}
		{% if is_granted('ROLE_ADMIN') %}
			<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-top-color_blue">
				<a class="nav__link nav__mobile-link" href="{{ path('admin_dashboard') }}">Dashboard</a>
			</li>
			<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-top-color_blue">
				<a class="nav__link nav__mobile-link" href="{{ path('admin_user_list') }}">Gestion Utilisateurs</a>
			</li>
			<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-top-color_blue">
				<a class="nav__link nav__mobile-link" href="{{ path('admin_address_list') }}">Gestion Adresses</a>
			</li>
			<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-top-color_blue">
				<a class="nav__link nav__mobile-link" href="{{ path('admin_product_list') }}">Gestion Produits</a>
			</li>
			<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-top-color_blue">
				<a class="nav__link nav__mobile-link" href="{{ path('admin_category_list') }}">Gestion Catégories</a>
			</li>
			<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-top-color_blue">
				<a class="nav__link nav__mobile-link" href="{{ path('admin_purchase_list') }}">Gestion Commandes</a>
			</li>
			<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-top-color_blue">
				<a class="nav__link nav__mobile-link" href="{{ path('admin_delivery_mode_list') }}">Gestion Modes de Livraison</a>
			</li>
		{% endif %}
		{# END: admin access #}
		{% if app.user %}
			<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-bottom nav-mobile__item_border-top-color_blue nav-mobile__item_border-bottom-color_blue">
				<a class="page__mobile-logout-link page__link_color_red" id="mobile-logout-link" href="{{ path('app_logout') }}">Déconnexion</a>
				<a class="header__link_background-color_blue" href="{{ path('user_profile') }}">
					<img class="nav-mobile__user-picture" src="{{ asset('assets/uploads/users/' ~ app.user.picture) }}" alt="image {{ app.user.firstName }}"/>
				</a>
			</li>
		{% else %}
			<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-top-color_blue">
				<a class="page__mobile-login-link page__link_color_green" id="mobile-login-link" href="{{ path('app_login') }}">Connexion</a>
			</li>
			<li class="nav__item nav-mobile__item nav-mobile__item_border-top nav-mobile__item_border-bottom nav-mobile__item_border-top-color_blue nav-mobile__item_border-bottom-color_blue">
				<a class="page__mobile-sign-up-link page__link_color_orange" id="mobile-sign-up-link" href="{{ path('app_sign_up') }}">Inscription</a>
			</li>
		{% endif %}
	</ul>
</nav>
{# END: NAV MOBILE #}
