{% extends 'base.html.twig' %}

{% block title %}
	Catégories |
	{{ parent() }}
{% endblock %}

{# START: category_list #}
{% block body %}
	<section class="page">
		<h2 class="page__h2">Nos Catégories</h2>
		{{ form_start(categorySearchByNameForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'category-search-by-name-form' }}
		) }}
		<div class="form-select-field">
			{{ form_label(categorySearchByNameForm, 'Sélectionner une catégorie:', { 'label_attr': { 'class': 'form-field__label form-field__category-name-label display-none' }}) }}
			{{ form_widget(categorySearchByNameForm.name) }}
			<p class="error-message error-message_color_red error-message-category-name-not-select display-none">
				Merci de sélectionner une catégorie.
			</p>
			{{ form_errors(categorySearchByNameForm.name) }}
		</div>
		{# categorySearchByNameForm submit button #}
		<button type="submit" class="page__button page__submit-button page__search-button page__button_background-color_blue page__button_color_white" id="category-search-button">
			Rechercher
		</button>
		{{ form_end(categorySearchByNameForm) }}
		<div class="neptune">
			{% for category in categories %}
				<div class="square square_border-color_blue">
					<a class="page__text-link page__square-link page__link_color_blue" href="{{ path('category_product_list', {'slug': category.slug}) }}">{{ category.name }}</a>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
{# END: category_list #}
