{% extends 'base.html.twig' %}

{% block title %}
	Mettre à jour - Adresse -
	{{ user.firstName }}
	{{ user.lastName }}
	|
	{{ parent() }}
{% endblock %}

{# START: admin_address_update #}
{% block body %}
	<section class="page">
		<h2>Mettre à jour Adresse :
			{{ user.firstName }}
			{{ user.lastName }}</h2>
		{# START: adminAddressUpdateForm #}
		{{ form_start(adminAddressUpdateForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'admin-address-update-form' }}) }}
		{# firstName #}
		<div class="form-field">
			{{ form_label(adminAddressUpdateForm, 'Prénom:', { 'label_attr': { 'class': 'form-field__label form-field__address-first-name-label display-none' }}) }}
			{{ form_widget(adminAddressUpdateForm.firstName, { 'id': 'address-first-name-input', 'attr': {'class': 'form-field__input form-field__user-first-name-input form-field__input_color_black', 'placeholder': 'Prénom' }}) }}
			<p class="error-message error-message_color_red error-message-user-first-name-empty display-none">
				Merci de saisir un prénom.
			</p>
			{{ form_errors(adminAddressUpdateForm.firstName) }}
		</div>
		{# lastName #}
		<div class="form-field">
			{{ form_label(adminAddressUpdateForm, 'Nom:', { 'label_attr': { 'class': 'form-field__label form-field__address-last-name-label display-none' }}) }}
			{{ form_widget(adminAddressUpdateForm.lastName, { 'id': 'address-last-name-input', 'attr': { 'class': 'form-field__input form-field__user-last-name-input form-field__input_color_black', 'placeholder': 'Nom' }}) }}
			<p class="error-message error-message_color_red error-message-user-last-name-empty display-none">
				Merci de saisir un nom.
			</p>
			{{ form_errors(adminAddressUpdateForm.lastName) }}
		</div>
		{# streetNumber #}
		<div class="form-field">
			{{ form_label(adminAddressUpdateForm, 'Numéro de rue:', { 'label_attr': { 'class': 'form-field__label form-field__address-street-number-label display-none' }}) }}
			{{ form_widget(adminAddressUpdateForm.streetNumber, { 'id': 'address-street-number-input', 'attr': { 'class': 'form-field__input form-field__address-street-number-input form-field__input_color_black', 'placeholder': 'Numéro de rue' }}) }}

			<p class="error-message error-message_color_red error-message-adress-street-number display-none">
				Merci de saisir un numéro de rue.
			</p>
			{{ form_errors(adminAddressUpdateForm.streetNumber) }}
		</div>
		{# streetName #}
		<div class="form-field">
			{{ form_label(adminAddressUpdateForm, 'Nom de rue:', { 'label_attr': { 'class': 'form-field__label form-field__address-street-name-label display-none' }}) }}
			{{ form_widget(adminAddressUpdateForm.streetName, { 'id': 'address-street-name-input', 'attr': { 'class': 'form-field__input form-field__address-street-name-input form-field__input_color_black', 'placeholder': 'Nom de rue' }}) }}

			<p class="error-message error-message_color_red error-message-address-street-name-empty display-none">
				Merci de saisir un nom de rue.
			</p>
			{{ form_errors(adminAddressUpdateForm.streetName) }}
		</div>
		{# zipCode #}
		<div class="form-field">
			{{ form_label(adminAddressUpdateForm, 'Code postal:', { 'label_attr': { 'class': 'form-field__label form-field__address-zip-code-label display-none' }}) }}
			{{ form_widget(adminAddressUpdateForm.zipCode, { 'id': 'address-zip-code-input', 'attr': { 'class': 'form-field__input form-field__address-zip-code-input form-field__input_color_black', 'placeholder': 'Code postal' }}) }}
			<p class="error-message error-message_color_red error-message-address-zip-code display-none">
				Merci de saisir un code postal.
			</p>
			{{ form_errors(adminAddressUpdateForm.zipCode) }}
		</div>
		{# city #}
		<div class="form-field">
			{{ form_label(adminAddressUpdateForm, 'Ville:', { 'label_attr': { 'class': 'form-field__label form-field__address-city-label display-none' }}) }}
			{{ form_widget(adminAddressUpdateForm.city, { 'id': 'address-city-input', 'attr': { 'class': 'form-field__input form-field__address-city-input form-field__input_color_black', 'placeholder': 'Ville' }}) }}
			<p class="error-message error-message_color_red error-message-address-city-empty display-none">
				Merci de saisir un nom de ville.
			</p>
			{{ form_errors(adminAddressUpdateForm.city) }}
		</div>
		{# country #}
		<div class="form-field">
			{{ form_label(adminAddressUpdateForm, 'Pays:', { 'label_attr': { 'class': 'form-field__label form-field__address-country-label display-none' }}) }}
			{{ form_widget(adminAddressUpdateForm.country, { 'id': 'address-country-input', 'attr': { 'class': 'form-field__input form-field__address-country-input form-field__input_color_black', 'placeholder': 'Pays' }}) }}
			<p class="error-message error-message_color_red error-message-address-country-empty display-none">
				Merci de saisir un nom de pays.
			</p>
			{{ form_errors(adminAddressUpdateForm.country) }}
		</div>
		{# phoneNumber #}
		<div class="form-field">
			{{ form_label(adminAddressUpdateForm, 'Numéro de téléphone mobile:', { 'label_attr': { 'class': 'form-field__label form-field__address-phone-number-label display-none' }}) }}
			{{ form_widget(adminAddressUpdateForm.phoneNumber, { 'id': 'address-phone-number-input', 'attr': { 'class': 'form-field__input form-field__phone-number-input form-field__input_color_black', 'placeholder': 'Numéro de téléphone mobile' }}) }}
			<p class="error-message error-message_color_red error-message-phone-number display-none">
				Merci de saisir un numéro de téléphone mobile.
			</p>
			{{ form_errors(adminAddressUpdateForm.phoneNumber) }}
		</div>
		{# form-field__label adminAddressUpdateForm submit button #}
		<button type="submit" class="page__button page__update-button page__submit-button page__button_background-color_orange page__button_color_white" id="admin-address-update-button">
			Mettre à jour
		</button>
		{{ form_end(adminAddressUpdateForm) }}
		{# END: adminAddressUpdateForm #}
	</section>
{% endblock %}
{# END: admin_address_update #}
