{% extends 'base.html.twig' %}

{% block title %}
	Produits |
	{{ parent() }}
{% endblock %}

{# START: product_list #}
{% block body %}
	<section class="page">
		<h2>Nos Produits</h2>
		{# START: productSearchForm #}
		{{ form_start(productSearchForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'search-product-form' }}
		) }}
		<div class="form-field">
			{{ form_label(productSearchForm, 'Rechercher par nom:', { 'label_attr': { 'class': 'form-field__label form-field__product-name-label display-none' }}) }}
			{{ form_widget(productSearchForm.name, { 'id': 'product-name-input', 'attr': {'class': 'form-field__input form-field__product-name-input form-field__input_color_black', 'placeholder': '🔍 Rechercher par nom' }}) }}
			<p class="error-message error-message_color_red error-message-product-name-empty display-none">
				Merci de saisir un nom.
			</p>
			{{ form_errors(productSearchForm.name) }}
		</div>
		<button type="submit" class="page__button page__submit-button page__search-button page__button_background-color_blue page__button_color_white" id="product-search-button">
			Rechercher
		</button>
		{{ form_end(productSearchForm) }}
		{# END : productSearchForm #}
		<div class="neptune">
			{% for product in products %}
				<div class="venus">
					<a class="image-link" href="{{ path('product_detail', {'slug': product.slug}) }}">
						<img class="page__product-picture" src="{{ asset('assets/uploads/products/'~ product.picture) }}" alt="image-{{ product.name }}"/>
					</a>
					<p>{{ product.name }}</p>
					<p>{{ product.price|amount }}</p>
					{% if product.availability == available %}
						<a class="page__link-cart page__link_background-color_blue" href="{{ path('cart_add', {'id': product.id}) }}?returnToProductList=true">
							<img class="page__cart-icon page__image_color_white" src="{{ asset('assets/images/icons/cart.svg') }}" alt="image-cart"/>
						</a>
					{% elseif product.availability == unavailable %}
						<p class="availability unavailable availability__unavailable_color_red">Indisponible</p>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
{# END : product_list #}
