{% extends 'base.html.twig' %}

{% block title %}
	Catégories |
	{{ parent() }}
{% endblock %}

{# START: admin_category_list #}
{% block body %}
	<section class="page">
		<h2 class="page__h2">Catégories</h2>
		{{ form_start(categorySearchByNameForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'category-search-by-name-form' }}
		) }}
		<div class="form-select-field">
			{{ form_label(categorySearchByNameForm, 'Sélectionner une catégorie:', { 'label_attr': { 'class': 'form-field__label form-field__category-name-label display-none' }}) }}
			{{ form_widget(categorySearchByNameForm.name) }}
			<p class="error-message error-message_color_red error-message-category-name-not-select display-none">
				Merci de sélectionner une catégorie.
			</p>
			{{ form_errors(categorySearchByNameForm.name) }}
		</div>
		{# categorySearchByNameForm submit button #}
		<button type="submit" class="page__button page__submit-button page__search-button page__button_background-color_blue page__button_color_white" id="category-search-button">
			Rechercher
		</button>
		{{ form_end(categorySearchByNameForm) }}
		<a class="page__link page__create-link page__link_background-color_dodger-blue page__link_color_white" href="{{ path('admin_category_create') }}" id="create-category-link">Créer</a>
		<div class="neptune">
			{% for category in categories %}
				{# START: card for mobile #}
				<div class="saturn saturn_border-color_blue">
					<p>{{ category.name }}</p>
					<a class="page__text-link page__link_color_blue" href="{{ path('admin_category_product_list', {'slug': category.slug}) }}">Liste  des
						{{ category.name }}s</a>
					<p>Créer le
						{{ category.createdAt|format_datetime('short', 'none', locale='fr') }}</p>
					<p>Mis à jour le
						{{ category.updatedAt|format_datetime('short', 'none', locale='fr') }}</p>
					<a class="page__link page__detail-link page__link_background-color_blue page__link_color_white" href="{{ path('admin_category_detail', {'slug': category.slug}) }}">Détails</a>
					<a class="page__link page__update-link page__link_background-color_orange page__link_color_white" href="{{ path('admin_category_update', {'slug': category.slug}) }}">Modifier</a>
					<a class=" page__link page__delete-link page__category-delete-link page__link_background-color_red page__link_color_white" href="{{ path('admin_category_delete', {'id':category.id, 'token':csrf_token('admin-category-delete' ~ category.id)} ) }}" data-categoryname="{{ category.name }}">Supprimer</a>
				</div>
			{% endfor %}
			{# END: card for mobile #}
			{# START: table for desktop #}
			<table class="table table-category table_background-color_blue table_color_white table_border-color_blue">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Produits</th>
						<th>Créee le</th>
						<th>Mis à jour le</th>
						<th>Actions</th>
					</tr>
				</thead>
				{% for category in categories %}
					<tbody>
						<tr>
							<td>{{ category.name }}</td>
							<td>
								<a class="page__text-link page__link_color_blue" href="{{ path('admin_category_product_list', {'slug': category.slug}) }}">Liste des
									{{ category.name }}s</a>
							</td>
							<td>{{ category.createdAt|format_datetime('short', 'none', locale='fr') }}</td>
							<td>{{ category.updatedAt|format_datetime('short', 'none', locale='fr') }}</td>
							<td>
								<a class="page__link page__detail-link page__link_background-color_blue page__link_color_white" href="{{ path('admin_category_detail', {'slug': category.slug}) }}">Détails</a>
								<a class="page__link page__update-link page__link_background-color_orange page__link_color_white" href="{{ path('admin_category_update', {'slug': category.slug}) }}">Modifier</a>
								<a class="page__link page__delete-link page__category-delete-link page__link_background-color_red page__link_color_white" href="{{ path('admin_category_delete', {'id':category.id, 'token':csrf_token('admin-category-delete' ~ category.id)} ) }}" data-categoryname="{{ category.name }}">
									Supprimer</a>
							</td>
						</tr>
					</tbody>
				{% endfor %}
			</table>
			{# END: table for desktop #}
		</div>
	</section>
{% endblock %}
{# START: admin_category_list #}
