{% extends 'base.html.twig' %}

{% block title %}
	Catégories |
	{{ parent() }}
{% endblock %}

{# START: admin_category_list #}
{% block body %}
	<section class="page">
		<h2>Catégories</h2>
		{# START: categorySearchForm #}
		{{ form_start(categorySearchForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'category-search-form' }}
		) }}
		<div class="form-field">
			{{ form_label(categorySearchForm, 'Rechercher par nom:', { 'label_attr': { 'class': 'form-field__label form-field__category-name-label display-none' }}) }}

			{{ form_widget(categorySearchForm.name, { 'id': 'category-name-input', 'attr': {'class': 'form-field__input form-field__category-name-input form-field__input_color_black', 'placeholder': '🔍 Rechercher par nom' }}) }}
			<p class="error-message error-message_color_red error-message-category-name-empty display-none">
				Merci de saisir un nom.
			</p>
			{{ form_errors(categorySearchForm.name) }}
		</div>
		<button type="submit" class="page__button page__submit-button page__search-button page__button_background-color_blue page__button_color_white" id="category-search-button">
			Rechercher
		</button>
		{{ form_end(categorySearchForm) }}
		{# END: categorySearchForm #}
		<a class="page__link page__create-link page__link_background-color_dodger-blue page__link_color_white" href="{{ path('admin_category_create') }}" id="create-category-link">Créer</a>
		<div class="neptune">
			{% for category in categories %}
				{# START: card for mobile #}
				<div class="saturn saturn_border-color_blue">
					<p>{{ category.name }}</p>
					<a class="page__text-link page__link_color_blue" href="{{ path('admin_category_product_list', {'slug': category.slug}) }}">Liste  des
						{{ category.name }}s</a>
					<a class="page__link page__detail-link page__link_background-color_blue page__link_color_white" href="{{ path('admin_category_detail', {'slug': category.slug}) }}">Détails</a>
					<a class="page__link page__update-link page__link_background-color_orange page__link_color_white" href="{{ path('admin_category_update', {'slug': category.slug}) }}">Modifier</a>
					<a class=" page__link page__delete-link page__delete-link-category page__link_background-color_red page__link_color_white" href="{{ path('admin_category_delete', {'id':category.id, 'token':csrf_token('admin-category-delete' ~ category.id)} ) }}" data-categoryname="{{ category.name }}">Supprimer</a>
				</div>
			{% endfor %}
			{# END: card for mobile #}
			{# START: table for desktop #}
			<table class="table table-category table_background-color_blue table_color_white table_border-color_blue">
				<thead>
					<tr>
						<th>Nom</th>
						<th>Produits</th>
						<th>Actions</th>
					</tr>
				</thead>
				{% for category in categories %}
					<tbody>
						<tr>
							<td>{{ category.name }}</td>
							<td>
								<a class="page__text-link page__link_color_blue" href="{{ path('admin_category_product_list', {'slug': category.slug}) }}">Liste des
									{{ category.name }}s</a>
							</td>
							<td>
								<a class="page__link page__detail-link page__link_background-color_blue page__link_color_white" href="{{ path('admin_category_detail', {'slug': category.slug}) }}">Détails</a>
								<a class="page__link page__update-link page__link_background-color_orange page__link_color_white" href="{{ path('admin_category_update', {'slug': category.slug}) }}">Modifier</a>
								<a class="page__link page__delete-link page__delete-link-category page__link_background-color_red page__link_color_white" href="{{ path('admin_category_delete', {'id':category.id, 'token':csrf_token('admin-category-delete' ~ category.id)} ) }}" data-categoryname="{{ category.name }}">
									Supprimer</a>
							</td>
						</tr>
					</tbody>
				{% endfor %}
			</table>
			{# END: table for desktop #}
		</div>
	</section>
{% endblock %}
{# START: admin_category_list #}
