<p>Bonjour,</p>
<p>
	{{ civilityTitle }}
	:

	{{ firstName }}
	{{ lastName }}

</p>
<p>
	Email :
	{{ userEmail }}
</p>
<p>
	Numéro de téléphone :
	{{ phoneNumber }}
</p>
<p>
	Message :
	{{ message }}
</p>
