{% extends 'base.html.twig' %}

{% block title %}
	Profil -
	{{ app.user.firstName }}
	{{ app.user.lastName }}
	|
	{{ parent() }}
{% endblock %}

{# START: user_profile #}
{% block body %}
	<section class="page">
		<h2>{{ app.user.firstName }}
			{{ app.user.lastName }}</h2>
		{# START: userProfileForm #}
		{{ form_start(userProfileForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'user-profile-form' }}
		) }}
		{# picture #}
		<div class="form-field-picture">
			<img class="page__user-picture" src="{{ asset('assets/uploads/users/' ~ app.user.picture) }}" alt="image {{ app.user.firstName }}"/>
		</div>
		{# upload #}
		<div class="form-field form-field-upload display-none">
			{{ form_label(userProfileForm, 'Photo de profil', { 'label_attr': { 'class': 'form-field__label form-field__user-picture-label display-none' }}) }}
			{{ form_widget(userProfileForm.upload, { 'id': 'update-my-user-picture-input', 'attr': { 'class': 'form-field__input form-field__user-picture-input form-field__input_color_black' }}) }}
			<p class="error-message error-message_color_red error-message-user-picture-mime-type display-none">
				Merci de télécharger un fichier au format PDF, PNG, JPEG ou SVG.
			</p>
			<p class="error-message error-message_color_red error-message-user-picture-size display-none">
				Merci de télécharger un fichier de maximum 300 000 bytes.
			</p>
			{{ form_errors(userProfileForm.upload) }}
		</div>
		{# delete picture #}
		<a class="page__delete-link display-none page__link page__delete-user-picture-link page__link_background-color_red page__link_color_white" id="delete-my-user-picture-link" href="{{ path('user_delete_picture', {token:csrf_token('delete-my-user-picture' ~ app.user.id)} ) }}">Supprimer ma photo</a>
		{# civilityTitle #}
		<div class="form-field">
			{{ form_widget(userProfileForm.civilityTitle) }}
			<p class="error-message error-message_color_red error-message-user-gender-not-checked display-none">
				Merci de sélectionnner une valeur.
			</p>
			{{ form_errors(userProfileForm.civilityTitle) }}
		</div>
		{# firstName #}
		<div class="form-field">
			{{ form_label(userProfileForm, 'Prénom', { 'label_attr': { 'class': 'form-field__label form-field__user-first-name-label display-none' }}) }}
			{{ form_widget(userProfileForm.firstName, { 'id': 'update-my-user-first-name-input', 'attr': {'class': 'form-field__input form-field__user-first-name-input form-field__input_color_black', 'placeholder': 'Prénom', 'disabled':'disabled' }}) }}
			<p class="error-message error-message_color_red error-message-user-first-name-empty display-none">
				Merci de saisir un prénom.
			</p>
			{{ form_errors(userProfileForm.firstName) }}
		</div>
		{# lastName #}
		<div class="form-field">
			{{ form_label(userProfileForm, 'Nom', { 'label_attr': { 'class': 'form-field__label form-field__user-last-name-label display-none' }}) }}
			{{ form_widget(userProfileForm.lastName, { 'id': 'update-my-user-last-name-input', 'attr': { 'class': 'form-field__input form-field__user-last-name-input form-field__input_color_black', 'placeholder': 'Nom', 'disabled':'disabled' }}) }}
			<p class="error-message error-message_color_red error-message-user-last-name-empty display-none">
				Merci de saisir un nom.
			</p>
			{{ form_errors(userProfileForm.lastName) }}
		</div>
		{# email #}
		<div class="form-field">
			{{ form_label(userProfileForm, 'E-mail', { 'label_attr': { 'class': 'form-field__label form-field__user-e-mail-label display-none' }}) }}
			{{ form_widget(userProfileForm.email, { 'id': 'update-my-user-e-mail-input', 'attr': { 'class': 'form-field__input form-field__user-e-mail-input form-field__input_color_black', 'placeholder': 'E-mail', 'disabled':'disabled' }}) }}
			<p class="error-message error-message_color_red error-message-user-e-mail display-none">
				Merci de saisir un e-mail.
			</p>
			{{ form_errors(userProfileForm.email) }}
		</div>
		{# Modify user profile button that allow the user profile modification #}
		<button type="button" class="page__button page__button_background-color_orange page__button_color_white" id="modify-my-user-profile-button">
			Modifier
		</button>
		{# userProfileForm submit button #}
		<button type="submit" class="display-none page__button page__update-button page__update-my-user-profile-button page__submit-button page__button_background-color_orange page__button_color_white" id="update-my-user-profile-button">
			Mettre à jour
		</button>
		{{ form_end(userProfileForm) }}
	{# END: userProfileForm #}
		{# <a class="display-none page__link page__delete-link page__delete-my-user-account-link page__delete-user-link page__link_background-color_red page__link_color_white" id="delete-my-user-account-link" href="{{ path('user_delete', {'id':app.user.id, 'token':csrf_token('user-delete' ~ app.user.id)} ) }}" data-userfirstname="{{ app.user.firstName }}" data-userlastname="{{ app.user.lastName }}">
																							Supprimer mon compte
																						</a> #}
	</section>
{% endblock %}
{# START: user_profile #}
