{% extends 'base.html.twig' %}

{% block title %}
	Créer - Adresse |
	{{ parent() }}
{% endblock %}

{# START : address_create #}
{% block body %}
	<section class="page">
		<h2>Créer une Adresse</h2>
		{# START :userCreateAddressForm #}
		{{ form_start(userCreateAddressForm, { 'attr': { 'novalidate': 'novalidate', 'class': 'form', 'id': 'user-create-address-form' }}) }}
		{# firstName #}
		<div class="form-field">
			{{ form_label(userCreateAddressForm, 'Prénom', { 'label_attr': { 'class': 'form-field__label form-field__address-first-name-label display-none' }}) }}

			{{ form_widget(userCreateAddressForm.firstName, { 'id': 'address-first-name-input', 'attr': {'class': 'form-field__input form-field__user-first-name-input form-field__input_color_black', 'placeholder': 'Prénom' }}) }}
			<p class="error-message error-message_color_red error-message-user-first-name-blank display-none">
				Merci de saisir un prénom.
			</p>
			{{ form_errors(userCreateAddressForm.firstName) }}
		</div>
		{# lastName #}
		<div class="form-field">
			{{ form_label(userCreateAddressForm, 'Nom', { 'label_attr': { 'class': 'form-field__label form-field__address-last-name-label display-none' }}) }}
			{{ form_widget(userCreateAddressForm.lastName, { 'id': 'address-last-name-input', 'attr': { 'class': 'form-field__input form-field__user-last-name-input form-field__input_color_black', 'placeholder': 'Nom' }}) }}
			<p class="error-message error-message_color_red error-message-user-last-name-blank display-none">
				Merci de saisir un nom.
			</p>
			{{ form_errors(userCreateAddressForm.lastName) }}
		</div>
		{# streetNumber #}
		<div class="form-field">
			{{ form_label(userCreateAddressForm, 'Numéro de rue', { 'label_attr': { 'class': 'form-field__label form-field__address-street-number-label display-none' }}) }}
			{{ form_widget(userCreateAddressForm.streetNumber, { 'id': 'address-street-number-input', 'attr': { 'class': 'form-field__input form-field__address-street-number-input form-field__input_color_black', 'placeholder': 'Numéro de rue' }}) }}
			<p class="error-message error-message_color_red error-message-adress-street-number-blank display-none">
				Merci de saisir un numéro de rue.
			</p>
			<p class="error-message error-message_color_red error-message-address-street-number-validity display-none">
				Merci de saisir un numéro de rue valide.
			</p>
			{{ form_errors(userCreateAddressForm.streetNumber) }}
		</div>
		{# streetName #}
		<div class="form-field">
			{{ form_label(userCreateAddressForm, 'Nom de rue', { 'label_attr': { 'class': 'form-field__label form-field__address-street-name-label display-none' }}) }}
			{{ form_widget(userCreateAddressForm.streetName, { 'id': 'address-street-name-input', 'attr': { 'class': 'form-field__input form-field__address-street-name-input form-field__input_color_black', 'placeholder': 'Nom de rue' }}) }}
			<p class="error-message error-message_color_red error-message-address-street-name-blank display-none">
				Merci de saisir un nom de rue.
			</p>
			{{ form_errors(userCreateAddressForm.streetName) }}
		</div>
		{# zipCode #}
		<div class="form-field">
			{{ form_label(userCreateAddressForm, 'Code postal', { 'label_attr': { 'class': ' form-field__label form-field__address-zip-code-label display-none' }}) }}
			{{ form_widget(userCreateAddressForm.zipCode, { 'id': 'address-zip-code-input', 'attr': { 'class': 'form-field__input form-field__address-zip-code-input form-field__input_color_black', 'placeholder': 'Code postal' }}) }}
			<p class="error-message error-message_color_red error-message-address-zip-code display-none">
				Merci de saisir un code postal.
			</p>
			{{ form_errors(userCreateAddressForm.zipCode) }}
		</div>
		{# city #}
		<div class="form-field">
			{{ form_label(userCreateAddressForm, 'Ville', { 'label_attr': { 'class': 'form-field__label form-field__address-city-label display-none' }}) }}
			{{ form_widget(userCreateAddressForm.city, { 'id': 'address-city-input', 'attr': { 'class': 'form-field__input form-field__address-city-input form-field__input_color_black', 'placeholder': 'Ville' }}) }}
			<p class="error-message error-message_color_red error-message-address-city-blank display-none">
				Merci de saisir un nom de ville.
			</p>
			{{ form_errors(userCreateAddressForm.city) }}
		</div>
		{# country #}
		<div class="form-field">
			{{ form_label(userCreateAddressForm, 'Pays', { 'label_attr': { 'class': 'form-field__label form-field__address-country-label display-none' }}) }}
			{{ form_widget(userCreateAddressForm.country, { 'id': 'address-country-input', 'attr': { 'class': 'form-field__input form-field__address-country-input form-field__input_color_black', 'placeholder': 'Pays' }}) }}
			<p class="error-message error-message_color_red error-message-blank-country display-none">
				Merci de saisir un nom de pays.
			</p>
			{{ form_errors(userCreateAddressForm.country) }}
		</div>
		{# phoneNumber #}
		<div class="form-field">
			{{ form_label(userCreateAddressForm, 'Numéro de téléphone mobile', { 'label_attr': { 'class': 'form-field__label form-field__address-phone-number-label display-none' }}) }}
			{{ form_widget(userCreateAddressForm.phoneNumber, { 'id': 'address-phone-number-input', 'attr': { 'class': 'form-field__input form-field__phone-number-input form-field__input_color_black', 'placeholder': 'Numéro de téléphone mobile' }}) }}
			<p class="error-message error-message_color_red error-message-blank-phone-number display-none">
				Merci de saisir un numéro de téléphone mobile.
			</p>
			<p class="error-message error-message_color_red error-message-validity-phone-number display-none">
				Merci de saisir un numéro de téléphone mobile valide.
			</p>
			{{ form_errors(userCreateAddressForm.phoneNumber) }}
		</div>
		{# userCreateAddressForm submit button #}
		<button type="submit" class="page__button page__submit-button page__create-button page__button_background-color_dodger-blue page__button_color_white " id="user-create-address-button">
			Créer
		</button>
		{# END : userCreateAddressForm #}
		{{ form_end(userCreateAddressForm) }}
	</section>
{% endblock %}
{# END : address_create #}
