{% extends 'base.html.twig' %}

{% block title %}
	Adresse -
	{{ app.user.firstName }}
	{{ app.user.lastName }}
	|
	{{ parent() }}
{% endblock %}

{# START : address_detail #}
{% block body %}
	<section class="page">
		<h2>Adresse :
			{{ app.user.firstName }}
			{{ app.user.lastName }}
		</h2>
		<div
			class="neptune">
			{# START : card for mobile #}
			<div class="saturn saturn_border-color_blue">
				<p>
					{{ address.firstName }}
					{{ address.lastName }}
				</p>
				<p>
					{{ address.streetNumber }}
					{{ address.streetName }}
				</p>
				<p>
					{{ address.zipCode }}
					-
					{{ address.city }}
				</p>
				<p>
					{{ address.country }}
				</p>
				<p>
					{{ address.phoneNumber }}
				</p>
				<a class="page__link page__update-link page__link_background-color_orange page__link_color_white" href="{{ path('address_update', {'id': address.id}) }}">Modifier</a>
				<a class="page__link page__delete-link page__delete-address-link page__link_background-color_red page__link_color_white" href="{{ path('address_delete', {'id': address.id, 'token':csrf_token('address-delete' ~ address.id)} ) }}" data-userfirstname="{{ address.user.firstName }}" data-userlastname="{{ address.user.lastName }}">Supprimer</a>
			</div>
			{# END : card for mobile #}
			{# START : table for desktop #}
			<table class="table table-address table_background-color_blue table_color_white table_border-color_blue">
				<thead>
					<tr>
						<th>Propriétés</th>
						<th>Valeurs</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>Prénom</th>
						<td>{{ address.firstName }}</td>
					</tr>
					<tr>
						<th>Nom</th>
						<td>{{ address.lastName }}</td>

					</tr>
					<tr>
						<th>Numéro de rue</th>
						<td>{{ address.streetNumber }}</td>

					</tr>
					<tr>
						<th>Nom de rue</th>
						<td>{{ address.streetName }}</td>
					</tr>
					<tr>
						<th>Code postal</th>
						<td>{{ address.zipCode }}</td>
					</tr>
					<tr>
						<th>Ville</th>
						<td>{{ address.city }}</td>
					</tr>
					<tr>
						<th>Pays</th>
						<td>{{ address.country }}</td>
					</tr>
					<tr>
						<th>Numéro de téléphone mobile</th>
						<td>{{ address.phoneNumber }}</td>
					</tr>
					<tr>
						<th>Actions</th>
						<td>
							<a class="page__link page__update-link page__link_background-color_orange page__link_color_white" href="{{ path('address_update', {'id': address.id}) }}">Modifier</a>
							<a class="page__link page__delete-link page__delete-address-link page__link_background-color_red page__link_color_white" href="{{ path('address_delete', {'id': address.id, 'token':csrf_token('address-delete' ~ address.id)} ) }}" data-userfirstname="{{ address.user.firstName }}" data-userlastname="{{ address.user.lastName }}">Supprimer</a>
						</td>
					</tr>
				</tbody>
			</table>
			{# END : table for desktop #}
		</div>
	</section>
{% endblock %}
{# START : address_detail #}
